include ../sharedelements/BoldText

link(rel="stylesheet" href="/sharedelements/box.sass")

mixin customBox(options)
    -
        if (options.id !== undefined) {
            var idArrow = "arrow" + options.id;
            var idMenu = "menu" + options.id;
            var idBorder = "border" + options.id;
        }
    div(class = "formContainer" style="width: " + options.width)
        table(class = "topText")
            th(class = "topTextColumnLeft")= options.left
            th(class = "topTextColumnRight")= options.right
        if options.arrow === "simple"
            div(id = idBorder class="borderInputBox")
                input(disabled class="inputBoxArrow" placeholder=options.placeholder)
                div(class="select-arrow" id=idArrow) expand_more
            div(class="arrowDropdownMenu" id=idMenu style="width: " + options.width)
                if options.itemMap !== undefined
                    each val, key in options.itemMap
                        .arrowDropdownMenuMargin
                            //+boldText({text: "Спальни"})
        if options.arrow === "purple"
            .borderInputBox
                input(class = "inputBoxArrow" placeholder=options.placeholder)
                .gradientArrow arrow_forward
        if options.arrow === undefined
            .borderInputBox
                input(class = "inputBox" placeholder=options.placeholder)