link(rel="stylesheet" href="/sharedelements/box.sass")

mixin customBox(options)
  -
  div(class = "formContainer" style="width: "+options.width)
      table(class = "topText")
        th(class = "topTextColumnLeft")= options.left
        th(class = "topTextColumnRight")= options.right
      if options.arrow === "simple"
        .borderInputBox
          input(disabled class = "inputBoxArrow" placeholder=options.placeholder)
          .select-arrow expand_more
      else
        if options.arrow === "purple"
          .borderInputBox
            input(disabled class = "inputBoxArrow" placeholder=options.placeholder)
            .gradientArrow arrow_forward
        else
          .borderInputBox
            input(class = "inputBox" placeholder=options.placeholder)